h1 {
	color: black;
	font-family: Verdana;
	text-align:center;
	background-color:00ff38;
}
p   {
	color:00ff38;
	font-family: Verdana;
	font-size:16;
	background-color:black;
	line-height:1.5em;
	text-indent:32px;
	text-decoration:green wavy underline;
	
	
}
h3{
	color:black;
	background-color:00ff38;
	text-align:center;
	
	
}
body{
	color:00ff38;
	background-color:black;
	
	
	
}
ol{
   font-family:verdana;	
	
}

 